<div class="pb-56 y-extendable-auto p-2">
  <div
    #editorContainer
    [class.prose-invert]="isDarkMode"
    class="prose prose-cyan max-w-none text-justify"></div>
</div>

<div class="p-2 sticky bottom-0 bg-transparent backdrop-blur-sm">
  <div class="flex-center-start rounded-md bg-gray-700 p-2 gap-0.5 flex-nowrap overflow-auto no-scrollbar">
    <app-wysiwyg-editor-button (clickButton)="toggleHeading(1)">
      <app-icon-heading-1 class="size-5"></app-icon-heading-1>
    </app-wysiwyg-editor-button>

    <app-wysiwyg-editor-button (clickButton)="toggleHeading(2)">
      <app-icon-heading-2 class="size-5"></app-icon-heading-2>
    </app-wysiwyg-editor-button>

    <app-wysiwyg-editor-button (clickButton)="toggleHeading(3)">
      <app-icon-heading-3 class="size-5"></app-icon-heading-3>
    </app-wysiwyg-editor-button>

    <div class="h-4 w-0.5 bg-gray-900 mx-2 x-non-extendable"></div>

    <app-wysiwyg-editor-button (clickButton)="toggleParagraph()">
      <app-icon-text class="size-5"></app-icon-text>
    </app-wysiwyg-editor-button>

    <app-wysiwyg-editor-button (clickButton)="insertBlockQuote()">
      <app-icon-text-quote class="size-5"></app-icon-text-quote>
    </app-wysiwyg-editor-button>

    <app-wysiwyg-editor-button (clickButton)="setCodeBlock()">
      <app-icon-braces class="size-5"></app-icon-braces>
    </app-wysiwyg-editor-button>

    <div class="h-4 w-0.5 bg-gray-900 mx-2 x-non-extendable"></div>

    <app-wysiwyg-editor-button (clickButton)="toggleBold()">
      <app-icon-bold class="size-5"></app-icon-bold>
    </app-wysiwyg-editor-button>

    <app-wysiwyg-editor-button (clickButton)="toggleItalic()">
      <app-icon-italic class="size-5"></app-icon-italic>
    </app-wysiwyg-editor-button>

    <app-wysiwyg-editor-button (clickButton)="toggleUnderline()">
      <app-icon-underline class="size-5"></app-icon-underline>
    </app-wysiwyg-editor-button>

    <app-wysiwyg-editor-button (clickButton)="toggleLineThrough()">
      <app-icon-strike-through class="size-5"></app-icon-strike-through>
    </app-wysiwyg-editor-button>

    <app-wysiwyg-editor-button (clickButton)="toggleCode()">
      <app-icon-code class="size-5"></app-icon-code>
    </app-wysiwyg-editor-button>

    <div class="h-4 w-0.5 bg-gray-900 mx-2 x-non-extendable"></div>

    <app-wysiwyg-editor-button (clickButton)="fileInput.click()">
      <app-icon-image class="size-5"></app-icon-image>
    </app-wysiwyg-editor-button>

    <app-wysiwyg-editor-button (clickButton)="openWysiwygYoutubeEmbed()">
      <app-icon-youtube class="size-5"></app-icon-youtube>
    </app-wysiwyg-editor-button>
  </div>
</div>

<input
  #fileInput
  (uploaded)="insertImageFiles($event)"
  (hasInvalidFiles)="openInvalidFilesError($event)"
  type="file"
  accept="image/*"
  hidden="hidden"
  multiple
  appFileUploader/>

<ng-template #wysiwygYoutubeEmbed>
  <app-backdrop></app-backdrop>

  <app-modal
    class="max-w-screen-sm"
    modalTitle="유튜브 동영상"
    displayClose>
    <app-wysiwyg-youtube-embed (submitted)="insertYoutubeEmbed($event)"></app-wysiwyg-youtube-embed>
  </app-modal>
</ng-template>
