<!-- Render label -->
<ng-content select="label"></ng-content>

<!-- Render input, textarea, select -->
<div
  #controlContainer
  class="control-container">
  <ng-content select="input, textarea, select"></ng-content>

  @if (hasInput) {
    <div class="flex items-center gap-2">
      <ng-content select="[appFormFieldAdditional]"></ng-content>

      <!-- Render reset button when has some value -->
      @if (controlElement?.value && !disabled) {
        <button
          (click)="resetControlElement()"
          tabindex="-1"
          type="button"
          class="flex-center text-zinc-400 grow-0 shrink-0 basis-auto">
          <app-icon-x-mark class="w-4 h-4"></app-icon-x-mark>
        </button>
      }
    </div>
  } @else if (hasSelect) {
    <div class="flex items-center gap-2">
      <ng-content select="[appFormFieldAdditional]"></ng-content>

      <!-- Dropdown icon -->
      <app-icon-chevron-down class="w-4 h-4 grow-0 shrink-0 basis-auto"></app-icon-chevron-down>
    </div>
  } @else if (hasTextarea && appFormFieldAdditionalQueryList && appFormFieldAdditionalQueryList.length > 0) {
    <div class="flex items-center gap-2">
      <ng-content select="[appFormFieldAdditional]"></ng-content>
    </div>
  }
</div>

<!-- Render hints and errors -->
<ng-content></ng-content>
