<app-radio-group class="flex-col-stretch gap-2 w-full max-w-[400px]" disabled>
  <app-radio value="1" class="flex items-center justify-between rounded-lg border border-zinc-300 p-4">
    <label class="text-sm">
      이런~
    </label>

    <app-radio-button></app-radio-button>
  </app-radio>

  <app-radio
    value="2"
    class="flex items-center justify-between rounded-lg border border-zinc-300 p-4">
    <label class="text-sm">
      이런~
    </label>

    <app-radio-button></app-radio-button>
  </app-radio>
</app-radio-group>

<app-checkbox class="flex items-center gap-2" disabled>
  <label class="text-sm">
    이런..
  </label>

  <app-checkbox-button></app-checkbox-button>
</app-checkbox>

<app-form-field>
  <label>
    이런~
  </label>

  <input disabled/>
</app-form-field>

<app-form-field>
  <label>
    이런~
  </label>

  <select disabled>
    <option>1</option>
  </select>
</app-form-field>

<app-form-field>
  <label>
    이런~
  </label>

  <textarea disabled></textarea>
</app-form-field>
