<app-radio-group class="flex-col-stretch gap-2 w-full max-w-[400px]">
  <app-radio value="1" class="flex items-center justify-between rounded-lg border border-slate-300 p-4">
    <label class="text-sm">
      이런~
    </label>

    <app-radio-button></app-radio-button>
  </app-radio>

  <app-radio
    value="2"
    class="flex items-center justify-between rounded-lg border border-slate-300 p-4">
    <label class="text-sm">
      이런~
    </label>

    <app-radio-button></app-radio-button>
  </app-radio>
</app-radio-group>

<app-checkbox class="flex items-center gap-2">
  <label class="text-sm">
    이런..
  </label>

  <app-checkbox-button></app-checkbox-button>
</app-checkbox>
