@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 0;
}

// For IDE autocomplete
.flex-center {}
.flex-center-between {}
.flex-center-end {}
.flex-center-start {}
.flex-start-start {}
.flex-start-end {}
.flex-start-between {}
.flex-col-stretch {}
.flex-col-center {}
.flex-col-end {}
.flex-col-start {}
.y-extendable-0 {}
.y-extendable-auto {}
.x-extendable-0 {}
.x-extendable-auto {}
.y-non-extendable {}
.x-non-extendable {}
.flat-button {}
.stroke-button {}

@layer base {
  .flex-center {
    @apply flex items-center justify-center flex-row;
  }

  .flex-center-between {
    @apply flex items-center justify-between flex-row;
  }

  .flex-center-end {
    @apply flex items-center justify-end flex-row;
  }

  .flex-center-start {
    @apply flex items-center justify-start flex-row;
  }

  .flex-start-start {
    @apply flex items-start justify-around flex-row;
  }

  .flex-start-end {
    @apply flex items-start justify-end flex-row;
  }

  .flex-start-between {
    @apply flex items-start justify-between flex-row;
  }

  .flex-col-stretch {
    @apply flex flex-col items-stretch;
  }

  .flex-col-center {
    @apply flex flex-col items-center;
  }

  .flex-col-end {
    @apply flex flex-col items-end;
  }

  .flex-col-start {
    @apply flex flex-col items-start;
  }

  .y-extendable-0 {
    @apply grow shrink h-0 basis-0;
  }

  .y-extendable-auto {
    @apply grow shrink h-auto basis-auto;
  }

  .x-extendable-0 {
    @apply grow shrink w-0 basis-0;
  }

  .x-extendable-auto {
    @apply grow shrink w-auto basis-auto;
  }

  .y-non-extendable {
    @apply grow-0 shrink-0 h-auto basis-auto;
  }

  .x-non-extendable {
    @apply grow-0 shrink-0 w-auto basis-auto;
  }

  .base-button {
    @apply
      inline-flex
      items-center
      justify-center
      rounded-full
      px-3
      xs:px-4
      h-8
      xs:h-10
      text-sm
      xs:text-base
      disabled:bg-neutral-100
      disabled:text-neutral-400
      disabled:border-none
      outline-transparent
      active:outline
      active:outline-3
      focus:outline
      focus:outline-3
      transition-all;
  }

  .flat-button {
    @apply base-button
      text-white
      hover:brightness-95
      active:brightness-90;

    &.primary {
      @apply bg-primary-400
        active:outline-primary-400/50
        focus:outline-primary-400/50;
    }

    &.secondary {
      @apply bg-secondary-500
        active:outline-secondary-500/50
        focus:outline-secondary-500/50;
    }

    &.tertiary {
      @apply bg-tertiary-500
        active:outline-tertiary-500/50
        focus:outline-tertiary-500/50;
    }

    &.warn {
      @apply bg-warn-500
        active:outline-warn-500/50
        focus:outline-warn-500/50;
    }

    &.error {
      @apply bg-error-500
        active:outline-error-500/50
        focus:outline-error-500/50;
    }

    &.success {
      @apply bg-success-500
        active:outline-success-500/50
        focus:outline-success-500/50;
    }

    &.kakao {
      @apply bg-kakao
      text-[#181600]
      active:outline-kakao/50
      focus:outline-kakao/50;
    }
  }

  .stroke-button {
    @apply base-button
      border
      border-black/[0.07]
      text-black
      hover:backdrop-brightness-95
      active:backdrop-brightness-90
      active:outline-neutral-400/30
      focus:outline-neutral-400/30;

    &.primary {
      @apply text-primary-400;
    }

    &.secondary {
      @apply text-secondary-500;
    }

    &.tertiary {
      @apply text-tertiary-500;
    }

    &.warn {
      @apply text-warn-500;
    }

    &.error {
      @apply text-error-500;
    }

    &.success {
      @apply text-success-500;
    }
  }

  .app-icon {
    @apply block;

    svg {
      @apply block w-full h-full;
    }
  }

  // Form field style.
  .app-form-field {
    @apply select-none;

    // Label in form field.
    label {
      @apply text-sm text-zinc-400;
    }

    // Control elements default styles.
    input, select, textarea {
      @apply bg-transparent;

      &::placeholder {
        @apply text-zinc-400;
      }
    }

    // When focused.
    &.focused {
      .control-container {
        @apply border-primary-400 bg-primary-50;
      }
    }

    &.disabled {
      .control-container {
        @apply border-zinc-300 bg-zinc-50;
      }
    }

    // Default style of control container.
    .control-container {
      @apply border border-zinc-300 rounded-lg transition-colors;
    }

    // When having input,
    &.with-input {
      .control-container {
        @apply flex-center-between gap-4 px-4 h-12;

        // Input element.
        input {
          @apply grow shrink w-0 basis-0;

          &:not(:focus) {
            @apply truncate;
          }
        }
      }
    }

    // When having select,
    &.with-select {
      .control-container {
        @apply flex-center-between gap-4 px-4 h-12 cursor-pointer;

        // Select element.
        select {
          @apply grow shrink w-0 basis-0 appearance-none cursor-pointer truncate;
        }
      }
    }

    // When having textarea,
    &.with-textarea {
      .control-container {
        @apply flex-col-stretch gap-2 p-4;

        // Textarea element.
        textarea {
          @apply w-full overflow-auto;
        }
      }
    }
  }

  .no-scrollbar {
    &::-webkit-scrollbar {
      @apply hidden;
    }
  }
}
