@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 0;
}

// For IDE autocomplete
.flex-center {}
.flex-center-between {}
.flex-center-end {}
.flex-center-start {}
.flex-col-stretch {}
.flex-col-center {}
.flex-col-end {}
.flex-col-start {}
.y-extendable-0 {}
.y-extendable-auto {}
.x-extendable-0 {}
.x-extendable-auto {}
.y-non-extendable {}
.x-non-extendable {}
.flat-button {}
.stroke-button {}

@layer base {
  .flex-center {
    @apply flex items-center justify-center flex-row;
  }

  .flex-center-between {
    @apply flex items-center justify-between flex-row;
  }

  .flex-center-end {
    @apply flex items-center justify-end flex-row;
  }

  .flex-center-start {
    @apply flex items-center justify-start flex-row;
  }

  .flex-col-stretch {
    @apply flex flex-col items-stretch;
  }

  .flex-col-center {
    @apply flex flex-col items-center;
  }

  .flex-col-end {
    @apply flex flex-col items-end;
  }

  .flex-col-start {
    @apply flex flex-col items-start;
  }

  .y-extendable-0 {
    @apply grow shrink h-0 basis-0;
  }

  .y-extendable-auto {
    @apply grow shrink h-auto basis-auto;
  }

  .x-extendable-0 {
    @apply grow shrink w-0 basis-0;
  }

  .x-extendable-auto {
    @apply grow shrink w-auto basis-auto;
  }

  .y-non-extendable {
    @apply grow-0 shrink-0 h-auto basis-auto;
  }

  .x-non-extendable {
    @apply grow-0 shrink-0 w-auto basis-auto;
  }

  .flat-button {
    @apply
    inline-flex
    items-center
    justify-center
    rounded-full
    text-white
    bg-primary-500
    px-3
    sm:px-4
    h-8
    sm:h-10
    hover:brightness-95
    active:brightness-90
    active:outline
    active:outline-3
    active:outline-amber-500/50
    focus:outline
    focus:outline-3
    focus:outline-amber-500/50
    disabled:bg-neutral-100
    disabled:text-neutral-400;

    &.error {
      @apply
      bg-error-500
      active:outline-error-500/50
      focus:outline-error-500/50
    }
  }

  .stroke-button {
    @apply
    inline-flex
    items-center
    justify-center
    rounded-full
    px-3
    sm:px-4
    h-8
    sm:h-10
    border
    border-neutral-400
    hover:backdrop-brightness-95
    active:backdrop-brightness-90
    active:outline
    active:outline-3
    active:outline-neutral-600/30
    focus:outline
    focus:outline-3
    focus:outline-neutral-600/30
    disabled:bg-neutral-100
    disabled:text-neutral-400;
  }

  .app-icon {
    @apply block;

    svg {
      @apply block w-full h-full;
    }
  }

  // Form field style.
  .app-form-field {
    @apply select-none;

    // Label in form field.
    label {
      @apply text-sm text-zinc-400;
    }

    // Control elements default styles.
    input, select, textarea {
      @apply bg-transparent;

      &::placeholder {
        @apply text-zinc-400;
      }
    }

    // When focused.
    &.focused {
      .control-container {
        @apply border-primary-400 bg-primary-50;
      }
    }

    &.disabled {
      .control-container {
        @apply border-zinc-300 bg-zinc-50;
      }
    }

    // Default style of control container.
    .control-container {
      @apply border border-zinc-300 rounded-lg transition-colors;
    }

    // When having input,
    &.with-input {
      .control-container {
        @apply flex-center-between gap-4 px-4 h-12;

        // Input element.
        input {
          @apply grow shrink w-0 basis-0;

          &:not(:focus) {
            @apply truncate;
          }
        }
      }
    }

    // When having select,
    &.with-select {
      .control-container {
        @apply flex-center-between gap-4 px-4 h-12 cursor-pointer;

        // Select element.
        select {
          @apply grow shrink w-0 basis-0 appearance-none cursor-pointer truncate;
        }
      }
    }

    // When having textarea,
    &.with-textarea {
      .control-container {
        @apply flex-col-stretch gap-2 p-4;

        // Textarea element.
        textarea {
          @apply w-full overflow-auto;
        }
      }
    }
  }
}
